
a:link, a:visited {
  background-color: green;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10vh;
  margin-left: 5vw;
}

a:hover, a:active {
  background-color: blue;
}
body{
    background-image: url(l1.jpg);
    background-size: cover;
}